body {
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app {
  max-width: 600px;
  margin: 45px auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}

.code-links {
  max-width: 600px;
  margin: 45px auto;
}

#current-date {
  margin: 0px 10px 0px 0px;
  line-height: 29px;
  font-weight: 400px;
  font-size: 22px;
  line-height: 36px;
  color: #272142;
}

#weather-description {
  margin: 0px 0px 20px 0px;
  line-height: 29px;
  font-weight: 400px;
  font-size: 18px;
  line-height: 36px;
  color: hsl(252, 13%, 39%);
  font-style: italic;
  text-transform: capitalize;
}

#city-name {
  margin: 5px 0 10px;
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}

li {
  list-style: none;
  margin: 0%;
}

ul {
  margin: 0;
  padding: 0;
}

.weather-temperature img {
  margin-right: 15px;
  height: 84px;
  width: 84px;
}

#current-temp {
  font-size: 60px;
}

.units {
  position: relative;
  font-size: 18px;
  top: 10px;
}
